<div class="container">
    <header>
        <h1>Temperature Monitoring System</h1>
        <p>Welcome, Admin!</p>
    </header>

    <div>
        <a routerLink="/"><img class="previous-icon" src="../../../assets/images/previous.png" alt=""></a>

        <div class="row user-row">
            <h2>Users list</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
                Create New User
            </button>
        </div>
 

        <main style="overflow-x: auto;">
            <table>

                <tr class="table-heading">

                    <th>#</th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Action</th>
                    <th>View Licence</th>

                </tr>

                <tr *ngFor="let item of data; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.password}}</td>
                    <td>{{item.role}}</td>
                    <td class="action">
                        <a (click)="openEditEntryModal(item.id)" style="cursor: pointer;" data-bs-toggle="modal"
                            data-bs-target="#editModal">
                            <img src="../../../assets/images/edit.png" class="act-icon" alt="">
                        </a>
                        <a data-bs-toggle="modal" (click)="openDeleteEntryModal(item.id)" style="cursor: pointer;"
                            data-bs-target="#deleteUserModal">
                            <img src="../../../assets/images/delete.png" class="act-icon" alt="">
                        </a>
                    </td>
                    <td><button class="btn licence-btn" (click)="viewLicence(item.id)"
                            routerLink="/licenses">View</button></td>
                </tr>

            </table>

        </main>


        <!-- edit Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" [formGroup]="userForm">
                        <input type="text" formControlName="name" placeholder="Enter user name">
                        <input type="text" formControlName="email" placeholder="Enter user email">
                        <input type="tel" formControlName="phone" placeholder="Enter phone number">
                        <input type="password" formControlName="password" placeholder="Enter password">
                        <input type="text" formControlName="role" placeholder="Enter user role">
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="editEntry()">Save</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- Add user Modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Creating New User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form class="modal-body" [formGroup]="userForm">

                        <input type="text" formControlName="name" placeholder="Enter user name">
                        <input type="email" formControlName="email" placeholder="Enter email">
                        <input type="tel" formControlName="phone" placeholder="Enter phone number">
                        <input type="password" formControlName="password" placeholder="Enter password">
                        <input type="text" formControlName="role" placeholder="Enter user role">

                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="createEntry()"
                            data-bs-dismiss="modal">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete-confirmation Modal -->
        <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <h4>Do you really want to delete this user: {{this.nameOfUser}}</h4>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteEntry()">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>