<div class="container" style="flex-direction: column;">
    <header>
        <h1>Temperature Monitoring System Admin</h1>
        <p>Welcome, User1</p>
    </header>
    
    <a routerLink="/usermanagement">
        <img class="previous-icon" src="../../../assets/images/previous.png" alt="">
    </a>
  
    <h2>User Licences</h2>

    <main style="overflow-x: auto;">
        <table>
            <tr class="table-heading">
                <th>Licence key</th>
                <th>User Id</th>
                <th>Issue date</th>
                <th>Expiry date</th>
                <th>licenceKeyType</th>
            </tr>

            <tr *ngFor="let item of data; let i= index;">
                <td>{{item.id + 1}}</td>
                <td>{{item.userId}}</td>
                <td>{{item.issueDate}}</td>
                <td>{{item.expDate}}</td>
                <td>{{item.licenceKeyType}}</td>
            </tr>
        </table>
    </main>
</div>
