<div class="container" style="flex-direction: column;">
    <header>
        <h1>Temperature Monitoring System Admin</h1>
        <p>Welcome, User1</p>
    </header>
    
    <a routerLink="/usermanagement"><img class="previous-icon" src="../../../assets/images/previous.png" alt=""></a>
    <h2>Licensing Plans</h2>

    <main style="overflow-x: auto;">
        <table>
            <tr class="table-heading">
                <th>Licence key</th>
                <th>Licence type</th>
                <th>Issue date</th>
                <th>Expiry date</th>
                <th>No. of devices</th>
            </tr>
    
            <tr>
                <td>1.</td>
                <td>type1</td>
                <td>01/02/2012</td>
                <td>01/02/2012</td>
                <td>12</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>type2</td>
                <td>01/02/2012</td>
                <td>01/02/2012</td>
                <td>12</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>type3</td>
                <td>01/02/2012</td>
                <td>01/02/2012</td>
                <td>12</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>type4</td>
                <td>01/02/2012</td>
                <td>01/02/2012</td>
                <td>12</td>
            </tr>
        </table>
    </main>
</div>

<!-- <div class="container">
    <div class="basic wdh-33">
        <div class="monthly-price">
            <h1>₹99</h1>
            <span>/month</span>
        </div>

        <div class="yearly-price">
            <span>₹1000 / per year</span>
        </div>

        <p class="free-trial">
            Try free for 30 days
        </p>

        <div>
            <ul class="features">
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature1</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature2</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature3</li>
            </ul>
        </div>
    </div>

    <div class="standard wdh-33">
        <div class="monthly-price">
            <h1>₹1999</h1>
            <span>/month</span>
        </div>

        <div class="yearly-price">
            <span>₹1000 / per year</span>
        </div>

        <p class="free-trial">
            Try free for 30 days
        </p>

        <div>
            <ul class="features">
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature1</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature2</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature3</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature4</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature5</li>
            </ul>
        </div>
    </div>


    <div class="premium wdh-33">
        <div class="monthly-price">
            <h1>₹3999</h1>
            <span>/month</span>
        </div>

        <div class="yearly-price">
            <span>₹1000 / per year</span>
        </div>

        <p class="free-trial">
            Try free for 30 days
        </p>

        <div>
            <ul class="features">
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature1</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature2</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature3</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature4</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature5</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature6</li>
                <li><img src="../../../assets/images/check-mark.png" alt="">Feature7</li>
            </ul>
        </div>
    </div>


</div> -->