h2 {
    font-weight: 600;
    color: navy;
}

.previous-icon {
    height: 2rem;
    width: 2rem;
}

.user-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-row h2 {
    font-weight: 600;
    color: navy;
    width: fit-content;
}

.user-row button {
    width: fit-content;
}

header {
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    height: 60vh;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.wdh-33 {
    width: 33%;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin: 0;
    font-weight: 700;
}

span {
    font-size: 18px;
}

.yearly-price {
    margin-top: 10px;
}

.free-trial {
    font-style: italic;
    color: navy;
    background-color: #ddd;
    width: 50%;
    margin: 20px auto;
}

.free-trial:hover {
    color: rgb(255, 255, 255);
    background-color: #1b1b1b;
    cursor: pointer;
}

.monthly-price {
    display: flex;
    width: fit-content;
    margin: auto;
    color: navy;
}

.features li {
    list-style: none;
    text-align: center;
    margin: 0.5rem;
}

.features li img {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
}

table {
    width: 100%;
    margin-top: 1rem;
}

.table-heading {
    background-color: navy !important;
    color: white;
    height: 2rem;
}

td {
    text-align: left;
    height: 2rem;
}

th,
td {
    width: 3rem;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

.modal-body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.modal-title {
    font-weight: 500;
}

.modal-body input {
    width: 13rem;
    margin: auto;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.act-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin: 5px;
}

.action {
    display: flex;
    justify-content: flex-start;
}