.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #f0f0f0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: navy;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}


section {
    margin-bottom: 30px;
}

table {
    width: 100%;
    margin-top: 3rem;
}

thead {
    background-color: navy;
    color: white;
    height: 2rem;

}

.act-icon {
    height: 1.2rem;
    width: 1.2rem;
}

td {
    text-align: center;
    height: 2rem;
}

.action {
    display: flex;
    justify-content: space-evenly;
}

tr:nth-child(even) {
    background-color: #ddd
}