<div class="container">
    <header>
        <h1>Temperature Monitoring System</h1>
        <p>Welcome, Admin!</p>
    </header>

    <!-- <nav>
        <ul>
            <li style="background-color: #ddd;"><a style="color: black;" (click)="handlePage('user-list')">User List</a>
            </li>


            <li><a (click)="handlePage('licence')">Licence</a></li>
        </ul>
        
    </nav>

    <div *ngIf="page == 'licence'">
        <app-licence></app-licence>
    </div> -->

    <div>
        <app-user-list></app-user-list>
    </div>
    

</div>
