.page-container {
    display: flex;
}

aside{
    width: 20vw;
    background-color: #626262;
    height: 100vh;
    border-top-left-radius: 20px;
}
.front{
    width: 80vw;
}
header{
    height: 70px;
    background-color: #626262;
}