<div class="main-container">

    <div class="logo-container">
        <div class="logo">
            <div class="blue-circle circle">

            </div>
            <div class="green-circle circle">

            </div>
            <div class="yellow-circle circle">

            </div>
            <div class="red-circle circle">

            </div>
        </div>


        <div class="company-name">
            <h3>Temperature Monitoring System</h3>
        </div>
    </div>


    <div class="form-container">
        <div class="right-column">
            <img draggable="false" src="../../assets/images/login-concept-illustration_114360-739.avif" alt="">
        </div>
        <div class="center-column">

        </div>
        <div class="left-column">
            <div *ngIf="page == 'login'" style="height: 50%;">
                <app-login></app-login>
                <div class="form-footer">
                    <a>Forgot Password?</a>
                    <span>New User? <a style="color: navy; cursor: pointer;" (click)="handleRegistration('signup')">Sign Up</a> </span>
                </div>
            </div>

            <div *ngIf="page == 'signup'" style="height: 50%;">
                <app-signup></app-signup>
                <div class="form-footer">
                    <span>Already have an account? <a style="color: navy; cursor: pointer;" (click)="handleRegistration('login')">Log In</a> </span>
                </div>
            </div>
        </div>
    </div>
</div>
