<div class="container">
    <header>
        <h1>Temperature Monitoring System</h1>
        <p>Welcome, Admin!</p>
    </header>

    <div>
        <a routerLink="/users"><img class="previous-icon" src="../../../assets/images/previous.png" alt=""></a>

        <div class="row user-row">
            <h2>Licenses</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addLicence">
                Add License
            </button>
        </div>

        <main style="overflow-x: auto;">
            <table>

                <tr class="table-heading">
                    <th>License key</th>
                    <th>User Name</th>
                    <th>Issue date</th>
                    <th>Expiry date</th>
                    <th>licenseKeyType</th>
                    <th>Devices</th>
                </tr>

                <tr *ngFor="let item of filteredLicences; let i= index;">
                    <td>{{item.id }}</td>
                    <td>{{this.userName}}</td>
                    <td>{{item.issueDate}}</td>
                    <td>{{item.expiryDate}}</td>
                    <td>{{ getSpecificKeyType(item.licenceKeyType) }}</td>
                    <td>{{ getSpecificDevice(item.id) }}</td>
                </tr>

            </table>

        </main>

        <!-- add user licence Modal -->
        <div class="modal fade" id="addLicence" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form class="modal-body">

                        <select name="keyType" id="kt" (change)="setLicenceType($event)">
                            <option value="Trial">Trial</option>
                            <option value="Standard">Standard</option>
                            <option value="Premium">Premium</option>
                        </select>

                    </form>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="createUserLicence()"
                            data-bs-dismiss="modal">Save</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>